.card__img img{
  box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.5);
}

h1,h5{
  color: #4B4949;
}

.card-desc{
  text-align: left;
}

.stats{
  background-image: url("../assets/all-images/cars-img/lance-asper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0px;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

.stats__number{
  font-size: 69px;
  font-weight: 600;
  line-height: 1;
}

.stats__text{
  font-size: 23px;
  font-weight: 600;
  line-height: 2;
}