
.outline{
  outline: 1px solid #cfc8d8;
}

label{
  line-height: 3;
}

.asterik{
  color: red;
}

.heading{
  margin: 30px 0;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 80%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 18px;
}
